ignore/
.vscode/
code/node_modules/
code/tests/img_tests/
code/tests/optimized_images/
code/config.js
tcc/
*.aux
*.bbl
*.blg
*.idx
*.lof
*.log
*.loq
*.lot
*.out
*.toc
*.nav
*.snm
*.synctex.gz
*.fls
*.ilg
*.fdb_latexmk
tese/**/*.pdf