#detected-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100vh;
  color: white;
  font-size: xx-large;
  font-family: sans-serif;
  overflow-y: auto;
  z-index: 999999; /* garante que fique por cima */
  pointer-events: none;
}

.object-box {
  position: absolute;
  pointer-events: none;
}

.object-label {
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.analyzing-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: gray;
  opacity: 80%;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 3em;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.analyzing-image {
  height: 2em;
  width: auto;
  margin-right: 5px;
}
